@import "./variables";

body {
    font-family: "Raleway", sans-serif;
}
a {
    transition: 0.3s ease;
    &:hover {
        color: $primary !important;
    }
}
.color-primary {
    color: $primary !important;
}
.btn{
    padding: 1rem;
    border: 2px solid $primary !important;
    background-color: $primary !important;
    font-weight: 600 !important;
    color: white !important;
    text-align: center;
    transition: 0.5s ease !important;
    &:hover {
        background-color: white !important;
        color: $primary !important;
    }
}
.section-title{
    text-align: center;
    margin: auto;
    width: 50%;
    h4{
        font-family: Raleway,monospace;
        font-weight:300;
        color: $black ;
    }
}
